body {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  
  .container-boutique-menu{
    width:auto;
    margin:auto;
    display: flex;
    justify-content:center;
    padding: 4vh; 
    
  }

  .item {
    border-bottom: solid 1px #a5a5a5;
    font-size: 2vh;                        
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    cursor: pointer;
  }

  
  
  @media screen and (max-width: 480px) {
    .container-boutique-menu {  
      width: auto;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 2vh; 
      font-size: 3vh;
    }

    .item {
        margin: 1.5vh;
        
      } 
      
    }

  @media screen and (min-width: 480px) and (max-width: 1024px){
    .container-boutique-menu {  
      width: auto;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap:2vh; 
      
    }

    .item {
      margin: 10px;
      font-size: 13px;
      } 
      
    }
      
  