.mentions-legales {
  text-align: left;
  margin: 160px 80px 40px 80px;
  padding: 80px 40px 40px 40px;
  border: 1px solid;
}

.mentions-legales a {
  color: black;
}

@media screen and (max-width: 500px) {
  .mentions-legales {
    padding: 80px 20px 40px 20px;
    margin: 160px 10px 40px 10px;
  }
}
