header {
  
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  color: #542d09

}


.logo {
  margin-top: 25px;
  width: 115px;
  margin-right: 30px;
  margin-bottom: 15px
}

h1{
  margin-top: 65px;
  margin-right: 50px;
  font-size: 40px;
}



@media screen and (max-width: 500px) {
  .logo {
    height: 50%;
    width: 25%;
    margin-bottom: 10px;
  }

  h1{
      font-size: larger;
      margin-left: 30px;
      margin-top: 50px;
  }
}
