
*{
  font-family: sans-serif;
  box-sizing: border-box;
}

.container-pannier-incr {
  display:flex;
  margin: auto;
  margin-top: 20px;
  width: 725px;
  align-items: flex-end;
  flex-direction: column;
}

.panier-incr {
  width: 17px;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  
}
      
  @media screen and (max-width:480px){
    .container-pannier-incr {
    
      width: 200px;
      
    }

  }
  @media screen and (min-width:480px) and (max-width:1024px){
    .container-pannier-incr {
    
      width: 400px;
      
    }
  }